@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealSemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalSemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorSemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adelphe Floreal';
    src: url('Adelphe-FlorealRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Fructidor';
    src: url('Adelphe-FructidorSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Adelphe Germinal';
    src: url('Adelphe-GerminalRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
