
.marginal-text {
    color: black;
    font-size: 15px;
    text-align: center;
    flex-grow: 1;
}

.margin-text-box {
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg) translate(-456px, 0);
    flex-wrap: nowrap;
    align-items:center;
    position: absolute;
    width: 456px;
    height: 113px;
    transform-origin: top left;
    align-content: stretch;
    z-index: 1;
    justify-content: space-between;
    gap: 5px;
}

section#colophon {
    break-before: always;
    text-align: center;
}

.br {
    break-before: page;
}


img[alt="karawane"]{
    width:80%;
}

img[alt="pyramids1"], img[alt="pyramids2"], img[alt="pyramids3"] {
    width: 60%;
}

img[alt="copyleft"], img[alt="smile"] {
    width: 30%;
}

figure {
    margin: 0;
    margin-bottom: 1em;
}

.praying {
    width: 25%;
    position: absolute;
}


#Salamat{
    top: 0;
    left: 0;
}

#Palihog{
    top: 0;
    right: 0;
}

#Bitte{
    bottom: 0;
    left: 0;
}

#Danke{
    bottom: 0;
    right: 0;
}

#colophon{
    padding-top: 160px;
}