/* Size and marin for all pages ------------- */
@page {
    size: 105mm 148mm;
    margin-top: 8mm;
    margin-left: 8mm;
    margin-right: 8mm;
    margin-bottom: 10mm;
    /* marks: crop; */
}


/* LEFT PAGES -------------------------------- */

#voice1 {
    page: voice1;
}

@page voice1 {
    margin-left: 10mm;
    margin-right: 30mm;
    /* @bottom-left {  
        content: counter(page);
        width: 40px;
    }
    @bottom-center{
        content: "Printing in relation to graphic art";
        text-align: left;
    } */
}

/* RIGHT PAGES -------------------------------- */

#voice2 {
    page: voice2;
}

@page voice2 {
    margin-left: 10mm;
    margin-right: 30mm;
    /* @bottom-right {
        content: counter(page);
        width: 40px;
    }
    @bottom-center{
        content: string(chapTitle);
        text-align: right;
    } */
}

/* .chapter  h1 { string-set: chapTitle content(text); } */



/* BLANK PAGES -------------------------------- */

@page:blank {
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
}



/* COUVERTURE -------------------------------- */

@page:first{
    margin: 10mm 10mm;
    /* background-color: rgb(20, 121, 253); */
    @bottom-right { content: none; }
    text-align: center;
}

section#voice1_margins p, section#voice2_margins p {
    position: absolute;
}

.folio {
    position: absolute;
    font-variant:all-small-caps;
    bottom: 5px;
    right: 5px;
}

.pagedjs_right_page .folio, .pagedjs_first_page .folio, #colophon .folio {
    display:none;
}

/* is it useful ?
section {
    page-break-after: always;
} */