/* TWEAKS */
/* intended for ad-hoc changes */
/* selectors are only ID here */

/* PAGE FLOATS */
/* DEPENDENCIES : page floats relies on tweaks-hook.js + absolute bottom class */
/* property is --experimental-page-float */
/* possible values are :
same-top, 
same-bottom, 
next-top, 
next-bottom */

/* SAMPLE : 
#figure_3 {
    --experimental-page-float: same-top;
} */

/* SPACING */
/* Spacing relies on tweaks-hook.js + spacing.css */
/* property is --experimental-spacing */
/* possible values integers between -7 and 7 */
/* SAMPLE : 
#p_paragraph_253 {
    --experimental-spacing: -2;
} */