@font-face {
    font-family: 'Baskervvol Base';
    src: url('BBBBaskervvol-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskervvol Fondue';
    src: url('BBBBaskervvol-Fondue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}