#couv_clara {
    page: couv_voice1;
    page-break-after: always;
}

#couv_florian {
    page: couv_voice2;
    page-break-after: always;
}

@page couv_voice1{
    margin: 10mm 10mm;
    @bottom-right { content: none; }
    text-align: center;
}

@page couv_voice2{
    margin: 10mm 10mm;
    @bottom-right { content: none; }
    text-align: center;
}

.pagedjs_right_page .folio {
    display: block;
}

.pagedjs_couv_voice1_page .folio, .pagedjs_couv_voice2_page .folio {
    display: none;
}

p, .target, .target.accepted, .random {
    background-color: transparent;
    font-size: 10pt;
}

/* Marges de Florian */
[data-id="voice2_margins"] {
    
}

[data-id="voice2_margins"] {
    transform: rotate(180deg);
}